@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-serif: "Noto Serif SC", serif;
  --font-sans: "MiSans Medium", "Noto Sans SC", sans-serif;
  --font-misans-light: "MiSans Light", "Noto Sans SC", sans-serif;
  --color-accent: #42A5F5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "MiSans Medium", "Noto Sans SC", sans-serif;
}
